# Spooky Authors Identification Project

## How it Works:

### 1. I used a dataset from Kaggle with texts from three different authors: Edgar Allan Poe, HP Lovecraft, and Mary Shelley, or EAP, HPL, and MWS, respectively.
### 2. I took two columns from the dataset: author and text, and I used the train_test_split function to split the data into training and testing sets
### 3. I used a Natural Language Text Processing model, called Bag-Of-Words, to classify each author.
### 4. I transformed the data into a format that the Naive-Bayes MultinomialNB model would accept.
### 5. I trained and preidicted the model, then calclated accuracy using the F1-Score metric.
### 6. Since the model had a passable score, I then copied and pasted a line from Edgar Allan Poe's short story, "Ligeia". I used the trained model to classify the text.
### 7. The model correctly classified the short text, and I printed out the author of the text.

In [3]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.naive_bayes import MultinomialNB
import pandas as pd
from collections import Counter
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import f1_score

In [4]:
test = pd.read_csv("test.csv")
train = pd.read_csv("train.csv")

In [5]:
test.head()

        id                                               text
0  id02310  Still, as I urged our leaving Ireland with suc...
1  id24541  If a fire wanted fanning, it could readily be ...
2  id00134  And when they had broken down the frail door t...
3  id27757  While I was thinking how I should possibly man...
4  id04081  I am not sure to what limit his knowledge may ...

In [6]:
train.head()

        id                                               text author
0  id26305  This process, however, afforded me no means of...    EAP
1  id17569  It never once occurred to me that the fumbling...    HPL
2  id11008  In his left hand was a gold snuff box, from wh...    EAP
3  id27763  How lovely is spring As we looked from Windsor...    MWS
4  id12958  Finding nothing else, not even gold, the Super...    HPL

In [7]:
x_train, x_test, y_train, y_test = train_test_split(train['text'], train['author'])

In [8]:
# text_train = train['text']
# text_test = test['text']
# labels = np.array(train['author'])
# labels2 = labels.reshape(-1, 1)

In [9]:
vec = CountVectorizer()
vec1 = vec.fit_transform(x_train)
vec2 = vec.transform(x_test)

In [10]:
multi = MultinomialNB()
multi.fit(vec1, y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [11]:
pred = multi.predict(vec2)

In [12]:
print(f1_score(pred, y_test, average='weighted'))

0.8330213367297709

In [20]:
text = '''I CANNOT, for my soul, remember how, when, or even precisely where, I first became acquainted with the lady Ligeia. Long years have since elapsed, and my memory is feeble through much suffering. Or, perhaps, I cannot now bring these points to mind, because, in truth, the character of my beloved, her rare learning, her singular yet placid cast of beauty, and the thrilling and enthralling eloquence of her low musical language, made their way into my heart by paces so steadily and stealthily progressive that they have been unnoticed and unknown. Yet I believe that I met her first and most frequently in some large, old, decaying city near the Rhine. Of her family --I have surely heard her speak. That it is of a remotely ancient date cannot be doubted. Ligeia! Ligeia! in studies of a nature more than all else adapted to deaden impressions of the outward world, it is by that sweet word alone --by Ligeia --that I bring before mine eyes in fancy the image of her who is no more. 
'''
text2 = pd.Series(text)
array = multi.predict(vec.transform(text2))

In [21]:
for i in np.array(array):
    if i=='EAP':
        print("The author of this text is Edgar Allan Poe")
    elif i=='MWS':
        print("The author of this text is Mary Shelley")
    elif i=='HPL':
        print("The author of this text is HP Lovecraft")

The author of this text is Edgar Allan Poe